
.v-cnt{
    border-left: 1.5px solid;
    border-right: 1.5px solid;
    border-color: var(--ion-color-tertiary-tint);
    height: auto;
    min-height: 100vh;
}

.v_area{
    height: 347px;
    width: 100%;
}

#Viewer{
    height: 100%;
    width: 100%;
}