<section class="row">
  <div class="col-1 v_navcon">
    <div class="d-flex justify-content-center align-items-center v_hamburger">
      <button type="button" class="v_hmb_btn">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    </div>
  </div>
  <div class="col-1 v_navcon">
    <a class="d-flex justify-content-center align-items-center v_compLogo" routerLink="/">
      <ion-img class="v_cLogo" src="../../../assets//icon/test_logo.png" alt=""></ion-img>
    </a>
  </div>
  <div class="col-7 v_navcon">
    <div class="align-items-center d-flex justify-content-center h-100">
      <div class="col-md-11  d-flex justify-content-end v_searchArea">
        <div class="v_sb_wrapper">
          <input type="text" name="" id="v_SInput" class="v_s_input" placeholder="Search">
          <button type="button" class="v_siBtn" id="v_SIbtn">
            <ion-icon name="search-outline"></ion-icon>
          </button>
        </div>
      </div>
      <div class="col-md-1 "></div>
    </div>
  </div>
  <div class="col-3 v_navcon">
    <div class="align-items-center d-flex justify-content-center h-100">
      <div class="col-md-3 "></div>
      <div class="col-md-3 "></div>
      <div class="col-md-3  align-items-center d-flex justify-content-start">
        <div class="v_Notify align-items-center d-flex">
          <button type="button" class="v_notifyBtn" id="v_NotifyBtn">
            <ion-icon name="notifications-outline"></ion-icon>
          </button>
        </div>
      </div>
      <div class="col-md-3 align-items-center d-flex justify-content-start">
        <div class="v_userArea">
          <div class="v_UsignUp">
            <button type="button" class="v_usignBtn" id="v_USignBtn">
              <ion-icon name="person-outline"></ion-icon>
            </button>
          </div>
          <div class="v_UsignIn"></div>
        </div>
      </div>
    </div>
  </div>
</section>